body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f5;
    color: #333;
}

header {
    background-color: #4a90e2;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: center;
    background-color: #357ABD;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav a {
    color: #fff;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #285A8D;
}
.container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}
.section {
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.section:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

h2 {
    color: #4a90e2;
}

footer {
    background-color: #4a90e2;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    /*
position: fixed;
bottom: 0;
width: 100%;
*/
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}


.qr-code img {
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.qr-code img:hover {
    transform: scale(1.05);
}

.slidein {
    animation: slidein 1s forwards;
}

@keyframes slidein {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.fadein {
    opacity: 0;
    transition: opacity 2s;
}

.fadein.visible {
    opacity: 1;
}
